.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 75vh;
  overflow-y: auto;
  background-color: var(--theme-background-color);
}

.dialog-actions {
  background-color: var(--theme-background-color);
  padding: 1rem;
  border-top: unset;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience-detail-external-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-detail-internal-container {
  display: flex;
  gap: 1rem;
}

.experience-detail {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 75%;
}

.experience-detail-role {
  color: var(--theme-primary-text-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.experience-detail-duration {
  color: var(--theme-tertiary-text-color);
  font-weight: 300;
  font-size: 1.25rem;
}

.experience-detail-contribution-text {
  color: var(--theme-secondary-text-color);
  white-space: pre-line;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.project-name {
  color: var(--theme-secondary-text-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.project-description {
  color: var(--theme-secondary-text-color);
  font-size: 1rem;
}

.private-project-text {
  color: var(--theme-secondary-text-color);
  font-style: italic;
}

.skills-container {
  width: 25%;
  height: fit-content;
  padding: 1rem;
  user-select: none;
  border: 2px solid var(--theme-border-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.label {
  display: block;
  color: var(--theme-primary-text-color);
  font-weight: 500;
}

.skills-label {
  margin-bottom: 0.25rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: #f5f5f5;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
}

.skill-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.skill-name {
  font-size: 0.9rem;
}

@media (max-width: 1380px) {
  .experience-detail-internal-container {
    flex-direction: column;
  }

  .experience-detail,
  .skills-container {
    width: unset !important;
  }
}

@media (max-width: 768px) {
  .dialog-content {
    max-height: 90vh;
  }

  .experience-detail-external-container {
    gap: 0.5rem;
  }

  .experience-detail-role {
    font-size: 1.25rem;
  }

  .experience-detail-duration,
  .project-name {
    font-size: 1rem;
  }

  .project-description,
  .experience-detail-contribution-text {
    font-size: 14px;
  }

  .skill-item {
    padding: 0.15rem 0.3rem;
  }

  .skill-logo {
    width: 16px;
    height: 16px;
  }

  .skill-name {
    font-size: 12px;
  }
}

:host ::ng-deep {
  .project-description-image {
    width: 100%;
  }

  .full-proactivity-description-image {
    width: 400px;
  }

  .project-description-image-caption {
    font-size: 14px;
    line-height: 1.25rem;
  }

  @media (max-width: 1046px) {
    .full-proactivity-description-image {
      width: 300px;
    }
  }

  @media (max-width: 791px) {
    .full-proactivity-description-image {
      width: 200px;
    }
  }

  @media (max-width: 768px) {
    .experience-details-container {
      margin-top: 1rem;
    }

    .project-description p {
      margin: 7px 0;
    }

    .project-description-image-caption {
      font-size: 12px;
    }
  }
}
