<mat-dialog-content class="dialog-content">
    <app-experience-banner [experience]="data" />

    <div class="experience-details-container">
        <ng-container *ngFor="let experienceDetail of data.projects">
            <div class="experience-detail-external-container">
                <span class="experience-detail-role">{{ experienceDetail.role }}</span>
                <span class="experience-detail-duration">{{ experienceDetail.duration }}</span>
                <div class="experience-detail-internal-container">
                    <div class="experience-detail">
                        <div *ngIf="!experienceDetail.isPrivateProject; else privateProjectBlock" class="project-info">
                            <span class="project-name">{{ experienceDetail.name }}</span>
                            <ng-container *ngIf="experienceDetail.extendedDescription">
                                <div 
                                    class="project-description"
                                    [innerHTML]="projectDescriptionAsHtml(experienceDetail.extendedDescription)"
                                >
                                </div>
                            </ng-container>
                        </div>

                        <ng-template #privateProjectBlock>
                            <span class="private-project-text">
                                🔒 Private project - details not publicly available
                            </span>
                        </ng-template>

                        <span class="label">Contribution:</span>
                        <span class="experience-detail-contribution-text">{{ experienceDetail.contribution }}</span>
                    </div>
                    <div class="skills-container" *ngIf="experienceDetail.skills.length">
                        <span class="label skills-label">Technologies used:</span>
                        <div class="skills-list">
                            <ng-container *ngFor="let skill of experienceDetail.skills">
                                <div class="skill-item">
                                    <img class="skill-logo" [src]="skill.logoPath" [alt]="skill.name"
                                        loading="lazy" />
                                    <span class="skill-name">{{ skill.name }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
    <app-button buttonName="Close" [isPrimaryButton]="false" (buttonClicked)="closeModal()" />
</mat-dialog-actions>