.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 75vh;
  overflow-y: auto;
}

.dialog-actions {
  margin-top: auto;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-detail-role {
  font-weight: 500;
  letter-spacing: 0;
  font-size: 1.5rem;
}

.experience-detail-duration {
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1.25rem;
  color: #525252;
}

.experience-detail-contribution-text {
  white-space: pre-line;
}
