@import 'src/mixins';

app-experience-banner {
  z-index: 1;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 75vh;
  overflow-y: auto;
  background-color: var(--theme-background-color);
}

.dialog-actions {
  background-color: var(--theme-background-color);
  padding: 1rem;
  border-top: unset;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel {
  &:last-child {
    border-bottom: none;
  }
}

mat-expansion-panel-header {
  padding: 0 1rem;
  height: auto !important;
  min-height: 64px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 1rem !important;
}

.experience-detail-internal-container {
  display: flex;
  gap: 1rem;
}

.experience-detail {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 75%;
}

.experience-detail-role {
  color: var(--theme-primary-text-color);
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.experience-detail-duration {
  color: var(--theme-tertiary-text-color);
  font-weight: 300;
  font-size: 0.9rem;
  margin-left: auto;
}

.experience-detail-contribution-text {
  color: var(--theme-secondary-text-color);
  white-space: pre-line;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.project-name {
  color: var(--theme-secondary-text-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.project-description {
  color: var(--theme-secondary-text-color);
  font-size: 1rem;
}

.project-description ::ng-deep {
  p {
    margin-top: 0;
  }
}

.private-project-text {
  color: var(--theme-secondary-text-color);
  font-style: italic;
}

.skills-container {
  width: 25%;
  height: fit-content;
  padding: 1rem;
  user-select: none;
  border: 2px solid var(--theme-border-color);
  @include border-radius(8px);
}

.label {
  display: block;
  color: var(--theme-primary-text-color);
  font-weight: 500;
}

.skills-label {
  margin-bottom: 0.25rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 0.6rem;
  background: #f5f5f5;
  @include border-radius(6px);
}

.skill-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.skill-name {
  font-size: 0.9rem;
}

@media (max-width: 1380px) {
  .experience-detail-internal-container {
    flex-direction: column;
  }

  .experience-detail,
  .skills-container {
    width: unset !important;
  }
}

@media (max-width: 768px) {
  .dialog-content {
    max-height: 90vh;
  }

  mat-panel-title,
  mat-panel-description {
    flex-basis: 0;
  }

  mat-panel-description {
    justify-content: flex-end;
    align-items: center;
  }

  .experience-detail-role {
    font-size: 1rem;
  }

  .project-name {
    font-size: 0.9rem;
  }

  .experience-detail-duration {
    font-size: 0.6rem;
  }


  .project-description,
  .experience-detail-contribution-text {
    font-size: 14px;
  }

  .skill-item {
    padding: 0.15rem 0.3rem;
  }

  .skill-logo {
    width: 16px;
    height: 16px;
  }

  .skill-name {
    font-size: 12px;
  }
}

.dialog-content ::ng-deep {
  .project-description-image {
    width: 100%;
  }

  .full-proactivity-description-image {
    width: 400px;
  }

  .project-description-image-caption {
    font-size: 14px;
    line-height: 1.25rem;
  }

  @media (max-width: 1046px) {
    .full-proactivity-description-image {
      width: 300px;
    }
  }

  @media (max-width: 791px) {
    .full-proactivity-description-image {
      width: 200px;
    }
  }

  @media (max-width: 768px) {
    .experience-details-container {
      margin-top: 1rem;
    }

    .project-description p {
      margin: 0.5rem 0;
    }

    .project-description-image-caption {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .mat-content {
      flex-direction: column;
    }

    mat-panel-description {
      justify-content: flex-start;
    }

    .experience-detail-duration {
      margin-left: 0;
    }
  }
}
