.section-heading {
  color: var(--theme-primary-text-color);
  font-size: 56px;
  font-weight: 400;
  margin: 0rem;
}

@media (max-width: 1380px) {
  .section-heading {
    font-size: 40px !important;
  }
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 30px !important;
  }
}
