@import 'src/mixins';

.main-button {
  display: block;
  width: max-content;
  font-family: "Inter", sans-serif;
  padding: 18px 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  @include border-radius(6px);
}

.main-button:hover {
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

.primary-button {
  background-color: var(--primary-button-color);
  border: solid 1px var(--primary-button-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.primary-button:hover {
  background-color: white;
  color: var(--primary-button-color);
}

.secondary-button {
  background-color: white;
  border: solid 1px var(--primary-button-color);
  color: var(--primary-button-color);
  font-size: 1rem;
  padding: 9px 12px;
  max-height: 40px;
}

.secondary-button:hover {
  background-color: var(--primary-button-color);
  color: white;
}

@media (max-width: 768px) {
  .main-button {
    font-size: 0.938rem;
    padding: 12px 18px;
  }
}

@media (max-width: 320px) {
  .main-button {
    font-size: 0.75rem;
  }
}
