.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  margin: 0;
  width: calc(100% - 40px);
  padding: 15px 20px;
  z-index: 1000;
  background-color: var(--theme-background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4392156863);

  .menu {
    display: flex;
    align-items: center;
    max-height: none;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
    transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;

    li {
      float: left;

      a {
        display: block;
        padding: 15px 20px;
        color: var(--theme-primary-text-color);
        text-decoration: none;
        font-size: 1.5rem;
      }

      a:hover {
        background-color: var(--theme-header-button-background-color);
      }
    }
  }
}

@media (max-width: 1380px) {
  .header {
    width: calc(100% - 30px);
    padding: 10px 15px;

    li {
      a {
        padding: 10px 15px !important;
        font-size: 1.25rem !important;
      }
    }
  }
}

@media (max-width: 1070px) {
  .header {
    li {
      a {
        font-size: 1rem !important;
      }
    }
  }
}

@media (max-width: 894px) {
  .header {
    li {
      a {
        font-size: 12px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: end;

    .menu {
      li {
        display: none;
      }
    }
  }
}
