<header class="header" #headerElement>
    <button class="hamburger-button" (click)="toggleMobileMenu()" [class.active]="isMobileMenuOpen">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>

    <ul class="menu" [class.mobile-open]="isMobileMenuOpen">
        <ng-container *ngFor="let menuOption of menuOptions">
            <li>
                <a href="javascript:void(0)" (click)="scrollToElement(menuOption.href)">{{ menuOption.optionName }}</a>
            </li>
        </ng-container>
        <app-theme-switcher />
    </ul>
</header>