.footer-text {
  color: var(--theme-secondary-text-color) !important;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 3rem;

  a {
    color: var(--theme-secondary-text-color) !important;
  }
}
