@import 'src/mixins';

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 48px;
  border: 1px solid var(--theme-border-color);
  @include border-radius(10px);
  box-shadow: var(--theme-card-box-shadow-color) 0px 10px 30px -15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.card-container:hover {
  box-shadow: var(--theme-card-box-shadow-color) 0px 20px 30px -10px;
}

.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  color: var(--theme-primary-text-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0 12px 0;
}

.card-subtitle {
  color: var(--theme-secondary-text-color);
  font-size: 17px;
  line-height: 1.5rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}
