.research-section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .research-heading {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 0rem;
  }

  .research-container {
    margin-top: 3rem;
    grid-gap: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem 1rem;
  }
}

@media (max-width: 1380px) {
  .research-heading {
    font-size: 40px !important;
  }
}

@media (max-width: 768px) {
  .research-heading {
    font-size: 30px !important;
  }
}

.research-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 48px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  .research-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;

    .card-title {
      color: black;
      font-size: 22px;
      line-height: 24px;
      font-weight: 700;
      margin: 15px 0 12px 0;
    }

    .card-subtitle {
      color: #666666;
      font-size: 17px;
      line-height: 1.5rem;
    }

    .publication-detail {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      p {
        text-align: start;
      }
    }

    .research-card-footer {
      display: flex;
      justify-content: center;
      margin-top: auto;
      width: 100%;
    }
  }
}

.research-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}

:host ::ng-deep {
  .main-button {
    margin-right: 0rem !important;
  }
}
