<div id="home" name="home" class="about-me-container">
    <h1 class="greeting-title">
        Hi all, I'm Gabriel
        <span class="wave-emoji">
            <img alt="👋" draggable="false" src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/1f44b.png">
        </span>
    </h1>
    <div class="greeting-container">
        <div class="greeting-text-div">
            <p class="greeting-text">
                {{ aboutMeText }}
            </p>
            <app-social-media />
            <div class="button-greeting-div">
                <app-main-button buttonName="Contact me" href="#contact-me" [openLinkNewUrl]="false" />
                <app-main-button buttonName="Download Resume" (buttonClicked)="downloadResume()" />
            </div>
        </div>
    </div>
</div>