<div class="about-me-container">
    <div class="greeting-text-div">
        <h1 class="greeting-title">
            Hi all, I'm Gabriel
            <span class="wave-emoji">
                <img alt="👋" draggable="false"
                    src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/1f44b.png">
            </span>
        </h1>
        <p class="greeting-text">
            <span>I'm a software engineer with over 2 years of experience.</span>
            <br>
            <span>
                I have a strong foundation in object-oriented programming, relational databases, and agile
                methodologies, thanks to my university education. I have experience collaborating with both technical
                and non-technical individuals, and I can communicate effectively in both Spanish (my native language)
                and English (intermediate level). I approach my work with responsibility, commitment, enthusiasm, and a
                focus on teamwork, always striving to promote the well-being of the team and achieve the desired
                results. Additionally, I'm constantly seeking opportunities to learn new technologies and programming
                languages, so that I can apply the knowledge I gain to tackle new challenges.
            </span>
        </p>
        <app-social-media></app-social-media>
        <div class="button-greeting-div">
            <div>
                <a class="main-button" href="#contact">Contact me</a>
            </div>
            <div>
                <a class="main-button"
                    href="https://www.canva.com/design/DAFYIlwFtLQ/dZ46bUGym4U2qsgGU3w92w/edit?utm_content=DAFYIlwFtLQ&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                    target="_blank">
                    See my resume
                </a>
            </div>
        </div>
    </div>
    <div class="greeting-image-div">
        <picture>
            <img class="profile-image" src="assets/images/Personal_Picture.png" alt="Gabriel Gonzalez" />
        </picture>
    </div>
</div>