.about-me-container {
  display: flex;
  flex-direction: column;

  .greeting-title {
    font-size: 70px;
    line-height: 1.1;
    color: var(--theme-primary-text-color);

    .wave-emoji {
      animation-duration: 1.8s;
      animation-iteration-count: infinite;
      animation-name: wave;
      display: inline-block;
      transform-origin: 70% 70%;

      img {
        width: 70px;
        height: 70px;
        margin: 0px 0.05em 0px 0.1em;
        vertical-align: -0.1em;
      }
    }
  }

  .greeting-container {
    display: flex;
  }

  .greeting-text-div {
    width: 100%;
    margin-bottom: 2rem;

    .greeting-text {
      font-size: 1.5rem;
      line-height: 1.66;
      color: var(--theme-secondary-text-color);
      padding-right: 3rem;
    }

    .button-greeting-div {
      display: flex;
      margin-top: 20px;
    }
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1380px) {
  .about-me-container {
    display: block;

    .greeting-container {
      flex-direction: column;
    }

    .greeting-text-div {
      width: 100%;
    }

    .greeting-title {
      font-size: 50px !important;

      .wave-emoji {
        img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

    .greeting-text {
      font-size: 20px !important;
      padding-right: 0rem !important;
    }
  }
}

@media (max-width: 768px) {
  .about-me-container {
    display: block;

    .greeting-text-div {
      width: 100%;
    }

    .greeting-title {
      font-size: 30px !important;

      .wave-emoji {
        img {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }

    .greeting-text {
      font-size: 16px !important;
      line-height: normal;
      padding-right: 0rem !important;
    }

    .button-greeting-div {
      justify-content: space-around;
    }

    .profile-image {
      max-width: 250px !important;
    }
  }
}
