.about-me-container {
  display: flex;

  .greeting-text-div {
    width: 75%;
    margin-bottom: 2rem;

    .greeting-title {
      font-size: 70px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.1;
      color: black;

      .wave-emoji {
        animation-duration: 1.8s;
        animation-iteration-count: infinite;
        animation-name: wave;
        display: inline-block;
        transform-origin: 70% 70%;

        img {
          width: 70px;
          height: 70px;
          margin: 0px 0.05em 0px 0.1em;
          vertical-align: -0.1em;
        }
      }
    }

    .greeting-text {
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 40px;
      color: #868e96;
      padding-right: 3rem;
    }

    .button-greeting-div {
      display: flex;
      margin-top: 20px;
    }
  }

  .greeting-image-div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    picture {
      max-width: 99rem;

      .profile-image {
        border: 0.25rem solid black;
        border-radius: 50%;
        box-shadow: 0 30px 30px -30px #0000001a;
        height: auto;
        margin-left: auto;
        max-width: 350px;
        transition: all 0.3s ease-out;
        width: 100%;
      }
    }
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1380px) {
  .about-me-container {
    display: block;

    .greeting-text-div,
    .greeting-image-div {
      width: 100%;
    }

    .greeting-title {
      font-size: 50px !important;

      .wave-emoji {
        img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

    .greeting-text {
      font-size: 20px !important;
      padding-right: 0rem !important;
    }
  }
}

@media (max-width: 768px) {
  .about-me-container {
    display: block;

    .greeting-text-div,
    .greeting-image-div {
      width: 100%;
    }

    .greeting-title {
      font-size: 30px !important;

      .wave-emoji {
        img {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }

    .greeting-text {
      font-size: 16px !important;
      line-height: normal;
      padding-right: 0rem !important;
    }

    .button-greeting-div {
      justify-content: space-around;
    }

    .profile-image {
      max-width: 250px !important;
    }
  }
}

.main-button {
  display: block;
  background-color: #55198b;
  border: solid 1px #55198b;
  border-radius: 6px;
  color: white;
  width: max-content;
  padding: 18px 24px;
  margin-right: 50px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.main-button:hover {
  background-color: white;
  color: #55198b;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .main-button {
    font-size: 0.938rem;
    padding: 12px 18px;
    margin-right: 0px;
  }
}

@media (max-width: 320px) {
  .main-button {
    font-size: 0.75rem;
  }
}
