<div class="social-media-div">
    <a href="https://github.com/GabrielEGonzalez97" class="icon-button" target="_blank" rel="noopener noreferrer">
        <span>
            <img src="assets/icons/github-icon.svg" alt="GitHub icon">
        </span>
    </a>
    <a href="https://linkedin.com/in/gabriel-enrique-gonzalez" class="icon-button" target="_blank"
        rel="noopener noreferrer">
        <span>
            <img src="assets/icons/linkedin-app-icon.svg" alt="LinkedIn icon">
        </span>
    </a>
    <a href="mailto:gabrielenrique.gonzalez97@gmail.com" class="icon-button" target="_blank" rel="noopener noreferrer">
        <span>
            <img src="assets/icons/gmail-icon.svg" alt="Gmail icon">
        </span>
    </a>
</div>