.education-text-description {
  font-size: 19px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.education-text-bullets > ul {
  margin-top: 0.5rem;
}

@media (max-width: 1380px) {
  .education-text-description {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .education-text-bullets > ul {
    max-width: 80% !important;
    margin: auto !important;
  }
}
