.education-section-container {
  display: flex;
  flex-direction: column;

  .education-heading {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 0rem;
  }

  .education-card-container {
    display: flex;
    flex-direction: column;
  }
}

.education-section > * {
  flex: 1;
  margin-bottom: 30px;
}

@media (max-width: 1380px) {
  .education-heading {
    font-size: 40px !important;
  }
}

@media (max-width: 768px) {
  .education-heading {
    font-size: 30px !important;
  }
}

.education-card {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;

  .education-card-left {
    .education-roundedimg {
      margin-right: 2rem;
      width: 6rem;
      height: 6rem;
      box-shadow: 0 0.5rem 1rem black;
      border-radius: 50%;
    }
  }

  .education-card-right {
    max-width: 90%;

    .education-text-school-name {
      margin: 0;
      font-size: 28px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }

    .education-text-title {
      color: black;
      font-weight: 700;
      font-size: 19px;
      margin: 0px;
      padding-top: 0.8rem;
      line-height: normal;
    }

    .education-text-duration {
      color: black;
      font-size: 19px;
      margin: 0px;
      padding-top: 0.5rem;
    }

    .education-text-description {
      font-size: 19px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .education-text-bullets > ul {
      margin-top: 0.5rem;
    }

    .education-text-bullet-item {
      font-size: 19px;
      color: #868e96 !important;
      margin-top: 0.5rem;

      span {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        font-size: 19px;
      }

      .skill-logo {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
      }
    }
  }
}

.education-card:hover {
  border-color: black;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

/* Media Query */

@media (max-width: 1380px) {
  .education-card {
    padding-bottom: 10px;
  }

  .education-card-left {
    .education-roundedimg {
      width: 4rem !important;
      height: 4rem !important;
    }
  }

  .education-card-right {
    .education-text-school-name {
      font-size: 20px !important;
    }

    .education-text-title {
      padding-top: 0.5rem !important;
      font-size: 16px !important;
    }

    .education-text-duration {
      font-size: 16px !important;
    }

    .education-text-description {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 768px) {
  .education-card-left {
    .education-roundedimg {
      margin-top: 10px !important;
      width: 4rem !important;
      height: 4rem !important;
      margin-bottom: 1rem !important;
    }
  }

  .education-card-right {
    max-width: 100% !important;

    .education-text-bullets > ul {
      max-width: 80% !important;
      margin: auto !important;
    }

    .education-text-bullet-item {
      font-size: 14px !important;
    }
  }
}

.show-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  font-size: 24px;

  span {
    img {
      width: 16px;
      height: 16px;
    }
  }

  span:hover {
    cursor: pointer;
    color: #55198b;

    img {
      filter: invert(11%) sepia(55%) saturate(5751%) hue-rotate(269deg)
        brightness(95%) contrast(96%);
    }
  }
}

@media (max-width: 1380px) {
  .show-more-container {
    font-size: 20px !important;

    span {
      img {
        width: 14px !important;
        height: 14px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .show-more-container {
    font-size: 16px !important;
    margin-top: 2rem;

    span {
      img {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }
}

.filters-container {
  display: flex;
  justify-content: space-between;

  .mat-mdc-form-field {
    width: 30%;
    margin-top: 1.5rem;
  }
}

.dropdown-option-container {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .filters-container {
    display: flex;
    flex-wrap: wrap;

    .mat-mdc-form-field {
      width: 45%;
    }
  }
}

.no-result-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;

  img {
    width: 10rem;
    height: 10rem;
    filter: invert(11%) sepia(55%) saturate(5751%) hue-rotate(269deg)
      brightness(95%) contrast(96%);
  }

  h5 {
    font-size: 36px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 24px;
  }
}

@media (max-width: 1380px) {
  .no-result-found-container {
    img {
      width: 8rem;
      height: 8rem;
    }

    h5 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .no-result-found-container {
    img {
      width: 6rem;
      height: 6rem;
    }

    h5 {
      font-size: 20px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }
}
