<div class="projects-section-container" id="projects">
    <h1 class="projects-heading">Projects</h1>
    <div class="projects-container">
        <ng-container *ngFor="let project of projects">
            <div class="project-card">
                <div class="project-image">
                    <img class="card-image" [src]="project.logoPath" [alt]="project.name">
                </div>
                <div class="project-detail">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-subtitle">{{ project.description }}</p>
                    <div class="project-card-footer">
                        <app-main-button [buttonName]="'Visit Website'" [href]="project.websiteLink">
                        </app-main-button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>