.social-media-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .social-media-icon-button {
    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .social-media-icon-button:hover {
    opacity: 75%;
  }
}
