@import 'src/mixins';

.experience-banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 11rem;
  @include filter(blur(0px));
}

.experience-banner-container::before {
  content: '';
  position: absolute;
  height: 100%;
  @include filter(blur(5px));
}

.experience-banner-container,
.experience-banner-container::before {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    var(--company-color);
  @include border-radius(10px 10px 0px 0px);
}

.experience-banner-company-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9rem;
  z-index: 1;
}

.experience-banner-company-name {
  padding: 1.5rem;
  margin: 0;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.experience-banner-image {
  position: absolute;
  top: 7rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  @include border-radius(50%);
  box-shadow: 0 0.5rem 1rem var(--theme-experience-image-box-shadow-color);
}

@media (max-width: 1380px) {
  .experience-banner-container {
    height: 9rem;
  }

  .experience-banner-company-name-container {
    height: 7rem;
  }

  .experience-banner-company-name {
    font-size: 1.5rem;
  }

  .experience-banner-image {
    top: 6rem;
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 768px) {
  .experience-banner-container {
    height: 7rem;
  }

  .experience-banner-company-name-container {
    height: 5rem;
  }

  .experience-banner-company-name {
    font-size: 1.25rem;
  }

  .experience-banner-image {
    top: 5rem;
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 480px) {
  .experience-banner-company-name {
    font-size: 1rem;
  }
}
