@import 'src/mixins';

.filters-container {
  display: flex;
  justify-content: space-between;

  .mat-mdc-form-field {
    width: 30%;
    margin-top: 1.5rem;
  }
}

.filter-option-text {
  font-family: "Inter", sans-serif;
}

.dropdown-option-container {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .filters-container {
    display: flex;
    flex-wrap: wrap;

    .mat-mdc-form-field {
      width: 45%;
    }
  }
}

@media (max-width: 600px) {
  .filters-container .mat-mdc-form-field {
    width: 100%;
  }
}

.no-result-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;

  img {
    width: 10rem;
    height: 10rem;
    @include filter(invert(11%) sepia(55%) saturate(5751%) hue-rotate(269deg) brightness(95%) contrast(96%));
  }

  h5 {
    color: var(--theme-primary-text-color);
    font-size: 36px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    color: var(--theme-secondary-text-color);
    font-size: 24px;
  }
}

@media (max-width: 1380px) {
  .no-result-found-container {
    img {
      width: 8rem;
      height: 8rem;
    }

    h5 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .no-result-found-container {
    img {
      width: 6rem;
      height: 6rem;
    }

    h5 {
      font-size: 20px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }
}

.active-filters {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  mat-chip-set {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .active-filters {
    flex-direction: column;
    align-items: flex-start;
  }
}
