<app-section-title title="Courses ({{ courseInfoElements.length }})" />

<div class="filters-container">
    <ng-template #filterOption let-img="img" let-text="text">
        <span class="dropdown-option-container">
            <ng-container *ngIf="img">
                <img [src]="img" [alt]="text">
            </ng-container>
            <span class="filter-option-text">{{ text }}</span>
        </span>
    </ng-template>

    <mat-form-field>
        <mat-label>Filter by Year</mat-label>
        <mat-select multiple [(value)]="selectedYears" (selectionChange)="onFilterByYear($event.value)">
            <ng-container *ngFor="let year of years">
                <mat-option [value]="year">
                    <ng-container
                        *ngTemplateOutlet="filterOption;
                        context: { img: null, text: year }">
                    </ng-container>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Filter by Skill</mat-label>
        <mat-select multiple [(value)]="selectedSkills" (selectionChange)="onFilterBySkill($event.value)">
            <ng-container *ngFor="let skill of skills">
                <mat-option [value]="skill.name">
                    <ng-container
                        *ngTemplateOutlet="filterOption;
                        context: { img: skill.logoPath, text: skill.name }">
                    </ng-container>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Filter by Issuing Company</mat-label>
        <mat-select multiple [(value)]="selectedIssuingCompanies"
            (selectionChange)="onFilterByIssuingCompany($event.value)">
            <ng-container *ngFor="let issuingCompany of issuingCompanies">
                <mat-option [value]="issuingCompany.companyName">
                    <ng-container
                        *ngTemplateOutlet="filterOption;
                        context: { img: issuingCompany.companyLogoPath, text: issuingCompany.companyName }">
                    </ng-container>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
</div>

<div class="active-filters" *ngIf="hasActiveFilters()">
    <mat-chip-set>
        <mat-chip *ngFor="let year of selectedYears" (removed)="removeFilter('year', year)" removable>
            {{ year }}
            <button matChipRemove aria-label="Remove year filter">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>

        <mat-chip *ngFor="let skill of selectedSkills" (removed)="removeFilter('skill', skill)" removable>
            {{ skill }}
            <button matChipRemove aria-label="Remove skill filter">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>

        <mat-chip *ngFor="let company of selectedIssuingCompanies" (removed)="removeFilter('company', company)"
            removable>
            {{ company }}
            <button matChipRemove aria-label="Remove company filter">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-set>

    <app-button buttonName="Clear Filters" [isPrimaryButton]="false" (buttonClicked)="clearFilters()" />
</div>

<div class="items-container">
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [onPageChange]="changePage.bind(this)">
    </app-pagination>

    <ng-container *ngFor="let courseInfo of currentPageCourses; trackBy: trackByCourseName">
        <app-item
            [logoPath]="courseInfo.issuingCompany.companyLogoPath"
            [logoDescription]="courseInfo.issuingCompany.companyName"
            [itemTitle]="courseInfo.courseName"
            [itemSubtitle]="courseInfo.issuingCompany.companyName"
            [duration]="courseInfo.durationHours ? courseInfo.expeditionDate + ' (' + courseInfo.durationHours + ' hours)' : courseInfo.expeditionDate"
        >
            <ng-container *ngIf="courseInfo.skills">
                <div class="skills">
                    <ul>
                        <ng-container *ngFor="let courseInfoSkill of courseInfo.skills">
                            <li class="education-text-bullet-item">
                                <span>
                                    <img 
                                        class="skill-logo"
                                        [src]="courseInfoSkill.logoPath"
                                        [alt]="courseInfoSkill.name"
                                    >
                                    {{ courseInfoSkill.name }}
                                </span>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
            <app-button buttonName="Show credential" [href]="courseInfo.credentialUrl" />
        </app-item>
    </ng-container>

    <ng-container *ngIf="currentPageCourses.length === 0">
        <div class="no-result-found-container">
            <img src="assets/icons/no-result-found-on-web-icon.svg" alt="No result found">
            <h5>No courses found</h5>
            <p>Try changing the filters to find courses</p>
        </div>
    </ng-container>
</div>