@import 'src/mixins';

$hue: 223;
$primary: hsl($hue, 90%, 55%);
$primaryT: hsla($hue, 90%, 55%, 0);
$transition-duration: 0.3s;

@mixin transform-light-mode($angle, $translation) {
  transform: rotate($angle) translateY($translation) !important;
  -webkit-transform: rotate($angle) translateY($translation) !important;
  -moz-transform: rotate($angle) translateY($translation) !important;
  -ms-transform: rotate($angle) translateY($translation) !important;
  -o-transform: rotate($angle) translateY($translation) !important;
}

.theme {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.theme__fill,
.theme__icon {
  pointer-events: none;
  @include transition(transform $transition-duration ease-in-out);
}

.theme.no-transition .theme__fill,
.theme.no-transition .theme__icon,
.theme.no-transition .theme__icon-part,
.theme.no-transition .theme__toggle,
.theme.no-transition .theme__toggle::before {
  @include transition(none !important);
}

.theme__fill {
  display: block;
  mix-blend-mode: difference;
  position: fixed;
  inset: 0;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.theme__icon,
.theme__toggle {
  z-index: 1;
}

.theme__icon,
.theme__icon-part {
  position: absolute;
}

.theme__icon {
  display: block;
  top: 0.75em;
  left: 0.75em;
  width: 1.5em;
  height: 1.5em;
}

.theme__icon-part {
  @include border-radius(50%);
  box-shadow: 0.4em -0.4em 0 0.5em hsl(0, 0%, 100%) inset;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  transform: scale(0.5);
  transition: box-shadow $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -webkit-transition: box-shadow $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -moz-transition: box-shadow $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -ms-transition: box-shadow $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -o-transition: box-shadow $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
}

.theme__icon-part-dark {
  left: calc(50% - 1em) !important;
}

.theme__icon-part ~ .theme__icon-part {
  background-color: hsl(0, 0%, 100%);
  @include border-radius(0.05em);
  box-shadow: none;
  top: 50%;
  left: calc(50% - 0.05em);
  transform-origin: 50% 0;
  width: 0.1em;
  height: 0.2em;
  transform: rotate(0) translateY(0.5em);
  -webkit-transform: rotate(0) translateY(0.5em);
  -moz-transform: rotate(0) translateY(0.5em);
  -ms-transform: rotate(0) translateY(0.5em);
  -o-transform: rotate(0) translateY(0.5em);
}

@for $i from 3 through 9 {
  .theme__icon-part:nth-child(#{$i}) {
    @include transform-light-mode(45deg * ($i - 2), 0.5em);
  }
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
  position: relative;
}

.theme__toggle,
.theme__toggle::before {
  display: block;
}

.theme__toggle {
  background-color: hsl(48, 90%, 85%);
  @include border-radius(25% 50%);
  box-shadow: 0 0 0 0.125em $primaryT;
  padding: 0.25em;
  width: 6em;
  height: 3em;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: background-color $transition-duration ease-in-out,
    box-shadow 0.15s ease-in-out, transform $transition-duration ease-in-out;
  -webkit-transition: background-color $transition-duration ease-in-out,
    box-shadow 0.15s ease-in-out, transform $transition-duration ease-in-out;
  -moz-transition: background-color $transition-duration ease-in-out,
    box-shadow 0.15s ease-in-out, transform $transition-duration ease-in-out;
  -ms-transition: background-color $transition-duration ease-in-out,
    box-shadow 0.15s ease-in-out, transform $transition-duration ease-in-out;
  -o-transition: background-color $transition-duration ease-in-out,
    box-shadow 0.15s ease-in-out, transform $transition-duration ease-in-out;
}

.theme__toggle::before {
  content: "";
  background-color: hsl(48, 90%, 55%);
  @include border-radius(50%);
  width: 2.5em;
  height: 2.5em;
  transition: background-color $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -webkit-transition: background-color $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -moz-transition: background-color $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -ms-transition: background-color $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
  -o-transition: background-color $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
}

.theme__toggle:focus {
  box-shadow: 0 0 0 0.125em $primary;
  outline: transparent;
}

/* Checked */
.theme__toggle:checked {
  background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked::before,
.theme__toggle:checked ~ .theme__icon {
  transform: translateX(3em);
  -webkit-transform: translateX(3em);
  -moz-transform: translateX(3em);
  -ms-transform: translateX(3em);
  -o-transform: translateX(3em);
}

.theme__toggle:checked::before {
  background-color: hsl(198, 90%, 55%);
}

.theme__toggle:checked ~ .theme__fill {
  transform: translateX(0);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part ~ .theme__icon-part {
  opacity: 0;
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(1) {
  transform: scale(1);
  box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 0%, 100%) inset;
}

@for $i from 2 through 9 {
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(#{$i}) {
    @include transform-light-mode(45deg * ($i - 2), 0.8em);
  }
}

.theme__toggle-wrap {
  margin: 0 0.75em;
}

@media (max-width: 1070px) {
  .theme__toggle {
    width: 4em;
    height: 2em;
  }

  .theme__toggle::before {
    width: 1.5em;
    height: 1.5em;
  }

  .theme__toggle:checked::before,
  .theme__toggle:checked ~ .theme__icon {
    transform: translateX(2em);
    -webkit-transform: translateX(2em);
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -o-transform: translateX(2em);
  }

  .theme__icon {
    top: 0.5em;
    left: 0.5em;
    width: 1em;
    height: 1em;
  }

  .theme__icon-part {
    top: calc(50% - 0.3em);
    left: calc(50% - 0.3em);
    width: 0.6em;
    height: 0.6em;
    box-shadow: 0.2em -0.2em 0 0.3em hsl(0, 0%, 100%) inset;
  }

  .theme__icon-part-dark {
    left: calc(50% - 0.5em) !important;
  }

  .theme__icon-part ~ .theme__icon-part {
    transform: rotate(0) translateY(0.25em);
    -webkit-transform: rotate(0) translateY(0.25em);
    -moz-transform: rotate(0) translateY(0.25em);
    -ms-transform: rotate(0) translateY(0.25em);
    -o-transform: rotate(0) translateY(0.25em);
  }

  @for $i from 3 through 9 {
    .theme__icon-part:nth-child(#{$i}) {
      @include transform-light-mode(45deg * ($i - 2), 0.25em);
    }
  }
}
