<app-card
    *ngIf="project"
    [title]="project.name"
    [subtitle]="project.shortDescription"
    [fotterButtonText]="project.extendedDescription ? 'View Details' : undefined"
    (footerButtonClicked)="openProjectModal()"
>
    <div id="card-company">
        <ng-container *ngIf="project.isFreelanceProject; else nonFreelanceProject">
            <img src="assets/icons/freelancer-icon.svg" alt="Freelancer">
            <span>Freelancer</span>
        </ng-container>
        <ng-template #nonFreelanceProject>
            <img [src]="project.company?.logoPath" alt="Company">
        </ng-template>
    </div>

    <div id="card-image">
        <img [src]="project.logoPath" [alt]="project.name">
    </div>

    <div id="card-extra-details">
        <div class="project-meta" *ngIf="project.role || project.duration">
            <span class="duration" *ngIf="project.duration">{{ project.duration }}</span>
        </div>

        <div
            class="project-skills"
            *ngIf="project.skills && project.skills.length > 0"
        >
            <div
                class="skill-item"
                *ngFor="let skill of project.skills"
                [title]="skill.name"
            >
                <img [src]="skill.logoPath" [alt]="skill.name">
            </div>
        </div>

        <app-project-actions
            [websiteLink]="project.websiteLink"
            [githubRepoLink]="project.githubRepoLink"
        ></app-project-actions>
    </div>
</app-card>