<app-card
    *ngIf="project"
    [title]="project.name"
    [subtitle]="project.shortDescription"
    fotterButtonText="Visit Website"
    [fotterButtonLink]="project.websiteLink"
>
    <div id="card-company">
        <ng-container *ngIf="project.isFreelanceProject; else nonFreelanceProject">
            <img src="assets/icons/freelancer-icon.svg" alt="Freelancer">
            <span>Freelancer</span>
        </ng-container>
        <ng-template #nonFreelanceProject>
            <img [src]="project.company?.logoPath" alt="Company">
        </ng-template>
    </div>

    <div id="card-image">
        <img [src]="project.logoPath" [alt]="project.name">
    </div>
</app-card>
