@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: "Montserrat";
  background-color: var(--theme-background-color);
}

.page-content {
  position: relative;
  flex: 1;
  height: auto;
  width: 80%;
  margin: 0;
}
