.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--theme-background-color);
}

.page-content {
  position: relative;
  flex: 1;
  height: auto;
  width: 80%;
  margin: 0;
}
