.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.page-content {
  position: relative;
  top: 3rem;
  flex: 1;
  height: auto;
  margin: 0;
}
