.cards-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 1380px) {
    .cards-container {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}
