@import 'src/mixins';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 1.5rem 0;

  .page-slots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: calc(5 * 40px + 4 * 1rem);
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .page-slots .page-button,
  .page-slots .ellipsis {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
  }

  .arrow,
  .page-button {
    background-color: white;
    border: solid 1px var(--primary-button-color);
    @include border-radius(4px);
    color: var(--primary-button-color);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.25;
    }
  }

  .page-button:hover,
  .arrow:hover {
    background-color: var(--primary-button-color);
    color: white;
  }

  .arrow {
    padding: 5.5px 7px;
  }

  .page-button {
    padding: 0.5rem 1rem;
  }

  .ellipsis {
    color: var(--primary-color);
    font-weight: 500;
  }

  .active {
    background-color: var(--primary-button-color);
    color: white !important;
    border-color: var(--primary-button-color);
  }

  @media (max-width: 600px) {
    .page-slots {
      grid-template-columns: repeat(5, minmax(30px, 1fr));
      gap: 0.15rem;
    }

    .page-slots .page-button,
    .page-slots .ellipsis {
      width: 32px;
      height: 32px;
      font-size: 12px;
    }

    .arrow {
      padding: 1.5px 3px;
    }
  }
}
