<div *ngIf="totalPages > 1" class="pagination">
    <button mat-icon-button class="arrow" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
        aria-label="Previous page">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="page-slots">
        <ng-container *ngFor="let page of pageNumbers">
            <ng-container [ngSwitch]="page">
                <span *ngSwitchCase="'...'" class="ellipsis">...</span>

                <button *ngSwitchDefault mat-stroked-button class="page-button" (click)="page && changePage(page)"
                    [disabled]="page === undefined" [ngClass]="{ active: page === currentPage }"
                    [attr.aria-current]="page === currentPage ? 'page' : null">
                    {{ page }}
                </button>
            </ng-container>
        </ng-container>
    </div>

    <button mat-icon-button class="arrow" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
        aria-label="Next page">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>