@import 'src/mixins';

.experience-card {
  position: relative;
  border: 1px solid hsla(0, 0%, 83%, 0.397);
  @include border-radius(10px);
  box-shadow: var(--theme-experience-card-box-shadow-color) 0px 10px 30px -15px;
}

.experience-card:hover {
  box-shadow: var(--theme-experience-card-box-shadow-color) 0px 20px 30px -10px;
}

.experience-text-role {
  color: var(--theme-primary-text-color);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  line-height: normal;
  padding-top: 1.5rem;
  margin: 0px;
}

.experience-text-date {
  color: var(--theme-tertiary-text-color);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  margin: 0px;
}

.experience-text-description {
  color: var(--theme-secondary-text-color);
  font-size: 1.125rem;
  line-height: 1.25;
}

.experience-text-bullets > ul {
  margin-top: 0.5rem;
}

.experience-text-bullet-item {
  color: var(--theme-secondary-text-color) !important;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.experience-text-details {
  padding: 1.5rem;
  margin-top: 2rem;
}

.view-details-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1380px) {
  .experience-text-role {
    padding-top: 0.5rem;
    font-size: 22px;
  }

  .experience-text-date {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .experience-text-role {
    font-size: 22px;
  }

  .experience-text-date {
    font-size: 18px;
  }

  .experience-text-description {
    font-size: 1rem;
  }

  .experience-text-bullets > ul {
    max-width: 80% !important;
    margin: auto !important;
  }

  .experience-text-bullet-item {
    font-size: 14px !important;
  }
}
