app-card {
  display: contents;
}

#card-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media (max-width: 1380px) {
  #card-image img {
    width: 200px !important;
  }
}

@media (max-width: 768px) {
  #card-image img {
    width: 150px !important;
  }
}
