app-card {
  display: contents;
}

#card-company {
  position: absolute;
  top: 0rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;

  img {
    width: 64px;
    height: 64px;
    background-color: white;
    padding: 4px;
    border-bottom: 2px solid var(--theme-border-color);
    border-left: 2px solid var(--theme-border-color);
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 10px;
  }

  span {
    color: var(--theme-primary-text-color);
    font-size: 12px;
    font-weight: 600;
  }
}

#card-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media (max-width: 1380px) {
  #card-company img {
    width: 48px;
    height: 48px;
  }

  #card-image img {
    width: 200px !important;
  }
}

@media (max-width: 768px) {
  #card-company img {
    width: 32px;
    height: 32px;
  }

  #card-image img {
    width: 150px !important;
  }
}
