<app-section sectionId="projects" sectionTitle="Projects">
    <app-cards-container>
        <ng-container *ngFor="let project of projects">
            <app-card [title]="project.name" [subtitle]="project.description" fotterButtonText="Visit Website"
                [fotterButtonLink]="project.websiteLink">
                <div id="card-company">
                    <ng-container *ngIf="project.isFreelanceProject; else nonFreelanceProject">
                        <img src="assets/icons/freelancer-icon.svg" alt="Freelancer">
                        <span>Freelancer</span>
                    </ng-container>
                    <ng-template #nonFreelanceProject>
                        <img [src]="project.companyLogoPath" alt="Company">
                    </ng-template>
                </div>
                <div id="card-image">
                    <img [src]="project.logoPath" [alt]="project.name">
                </div>
            </app-card>
        </ng-container>
    </app-cards-container>
</app-section>