.experience-banner {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    var(--company-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}

.experience-blurred-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.experience-banner,
.experience-blurred-div {
  height: 11rem;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}

.experience-div-company {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  background: transparent;
}

.experience-text-company {
  padding: 1.5rem;
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.experience-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 7rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.5rem 1rem var(--theme-experience-image-box-shadow-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 1380px) {
  .experience-text-company {
    font-size: 22px;
  }

  .experience-image {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media (max-width: 768px) {
  .experience-text-company {
    font-size: 22px;
  }

  .experience-banner,
  .experience-blurred-div {
    height: 9rem;
  }

  .experience-image {
    width: 4rem;
    height: 4rem;
  }
}
