<app-section sectionId="contact-me" sectionTitle="Reach Out to me!">
    <div class="reach-out-to-me-container">
        <div class="text-and-social-medias-container">
            <p class="subtitle">Discuss a project or just want to say hi? My Inbox is open for all.</p>
            <p class="bio-text">Software Engineer @ IBM</p>
            <div class="location-container">
                <app-location-icon />
                Buenos Aires, Argentina
            </div>
            <app-social-media />
        </div>
        <div class="profile-image-container">
            <picture>
                <img class="profile-image" src="assets/images/Personal_Picture.png" alt="Gabriel Gonzalez" />
            </picture>
        </div>
    </div>
</app-section>