.subtitle {
  color: var(--theme-secondary-text-color);
  text-transform: uppercase;
  font-size: 19px;
  line-height: 23px;
}

.bio-text {
  color: var(--theme-primary-text-color);
  font-size: 22px;
  line-height: 30px;
}

.location-container {
  display: flex;
  margin-bottom: 22px;
  color: var(--theme-primary-text-color);
  font-size: 19px;
  line-height: 23px;

  img {
    width: 19px;
    height: 19px;
    margin-right: 0.5rem;
  }
}

.reach-out-to-me-container {
  display: flex;
  width: 100%;
}

.text-and-social-medias-container {
  width: 75%;
  padding-right: 1rem;
}

.profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  position: relative;
  top: -34px;

  picture {
    max-width: 99rem;

    .profile-image {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-left: auto;
      box-shadow: 0 30px 30px -30px var(--theme-profile-image-box-shadow-color);
      border: 0.25rem solid var(--theme-profile-image-border-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }
  }
}

@media (max-width: 768px) {
  .bio-text {
    font-size: 16px;
  }

  .reach-out-to-me-container {
    flex-direction: column;
  }

  .profile-image-container {
    order: 1;
    width: 100%;
    top: 0;
    margin-top: 19px;

    .profile-image {
      max-width: 250px !important;
    }
  }

  .text-and-social-medias-container {
    order: 2;
  }
}
