:host ::ng-deep {
  .items-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .education-text-bullet-item {
    font-size: 19px;
    color: var(--theme-secondary-text-color) !important;
    margin-top: 0.5rem;

    span {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      font-size: 19px;
    }

    .skill-logo {
      width: 24px;
      height: 24px;
      margin-right: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    .education-text-bullet-item {
      font-size: 14px !important;
    }
  }
}
