.item {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.item-logo {
  margin-right: 2rem;
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0.5rem 1rem var(--theme-item-logo-box-shadow-color);
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.item-right {
  max-width: 90%;
}

.item-title {
  color: var(--theme-primary-text-color);
  font-size: 28px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin: 0;
}

.item-subtitle {
  color: var(--theme-primary-text-color);
  font-weight: 700;
  font-size: 19px;
  line-height: normal;
  margin: 0px;
  padding-top: 0.8rem;
}

.item-duration {
  color: var(--theme-tertiary-text-color);
  font-size: 19px;
  margin: 0px;
  padding-top: 0.5rem;
}

@media (max-width: 1380px) {
  .item {
    padding-bottom: 10px;
  }

  .item-logo {
    width: 4rem !important;
    height: 4rem !important;
  }

  .item-title {
    font-size: 20px !important;
  }

  .item-subtitle {
    padding-top: 0.5rem !important;
    font-size: 16px !important;
  }

  .item-duration {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .item-logo {
    margin-top: 10px !important;
    width: 4rem !important;
    height: 4rem !important;
    margin-bottom: 1rem !important;
  }

  .item-right {
    max-width: 100% !important;
  }
}
