app-card {
  display: contents;
}

#card-extra-details {
  display: flex;
  flex-direction: column;
  color: var(--theme-primary-text-color);
}

.highlight-author {
  color: #4e9ad0;
  font-weight: 600;

  .comma {
    color: var(--theme-primary-text-color);
    font-weight: 400;
  }
}
