@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin filter($filter) {
    filter: $filter;
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -ms-filter: $filter;
    -o-filter: $filter;
}

@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}
