// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio-primary,
      accent: $portfolio-accent,
      warn: $portfolio-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #55198b;
  --primary-button-color: #55198b;
  --theme-background-color: #ffffff;
  --theme-primary-text-color: #1a1a1a;
  --theme-secondary-text-color: #555c63;
  --theme-tertiary-text-color: #adb5bd;
  --theme-card-box-shadow-color: rgba(0, 0, 0, 0.2);
  --theme-item-logo-box-shadow-color: #000000;
  --theme-experience-card-box-shadow-color: #0003;
  --theme-experience-image-box-shadow-color: rgba(0, 0, 0, 0.3);
  --theme-profile-image-border-color: #000000;
  --theme-profile-image-box-shadow-color: #000000;
  --theme-header-button-hover-background-color: #f4f4f4;
  --theme-border-color: #d1d1d1;
  --theme-icon-filter: none;
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --theme-background-color: #171c28;
  --theme-primary-text-color: #ffffff;
  --theme-secondary-text-color: #c4c9d4;
  --theme-tertiary-text-color: #8b92a1;
  --theme-card-box-shadow-color: rgba(255, 255, 255, 0.2);
  --theme-item-logo-box-shadow-color: #d9dbdf;
  --theme-experience-card-box-shadow-color: #fff3;
  --theme-experience-image-box-shadow-color: rgba(255, 255, 255, 0.3);
  --theme-profile-image-border-color: #ffffff;
  --theme-profile-image-box-shadow-color: #ffffff;
  --theme-header-button-hover-background-color: #222836;
  --theme-border-color: #3c4252;
  --theme-icon-filter: invert(1);
}
